# RPC access
RPC_URL=""

# To verify module on explorer
ETHERSCAN_API_KEY=""

# Module's deployer
DEPLOYER_PRIVATE_KEY=""

# Module parameters
ROUTER_ADDRESS="" # Address of the dApp's router contract
BID_TOKEN=0x0000000000000000000000000000000000000000 # use address(0) for ETH
DAPP_PAYOUT_ADDRESS="" # dApp share of MEV destination
DAPP_PAYOUT_SHARE="" # % share going to the dApp, as bps (1000 = 10%)
MIN_BID="" # Minimum bid allowed for solvers, in wei (0 for no min.)

# Atlas addresses
ATLAS_ADDRESS=""
ATLAS_VERIFICATION_ADDRESS=""
