# RPC access
MONAD_TESTNET_RPC_URL=""
MONAD_MAINNET_RPC_URL=""

# To verify module on explorer
ETHERSCAN_API_KEY=""

# Module's deployer or Ledger (leave DEPLOYER_PRIVATE_KEY empty if using ledger)
DEPLOYER_PRIVATE_KEY=""
LEDGER_ADDRESS=""

# Atlas addresses
ATLAS_ADDRESS=""
ATLAS_VERIFICATION_ADDRESS=""

# Module config
AUCTIONEER_ADDRESS=""
GOV_PAYOUT_ADDRESS=""

# To add routers after first deployment
BACKRUN_DAPP_CONTROL_ADDRESS=""
ROUTER_TO_ADD=""
